@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Inter:wght@400;700;800&display=swap');

:root {
    --Bright-Red: hsl(12, 88%, 59%);
    --Dark-Blue: hsl(228, 39%, 23%);


    --Dark-Grayish-Blue: hsl(227, 12%, 61%);
    --Very-Dark-Blue: hsl(233, 12%, 13%);
    --Very-Pale-Red: hsl(13, 100%, 96%);
    --Vary-Light-Gray: hsl(0, 0%, 98%);

}

/* ====================css-reset====================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

img {
    width: 100%;
}

body {
    padding: 1em 1em;
}

p {
    color: var(--Very-Dark-Blue);
    opacity: .7;
    font-weight: 400;
    line-height: 1.5em;
    margin-top: .5em;
    margin-bottom: 3em;
}

h1 {
    font-size: 2.5rem;
    color: var(--Dark-Blue);
}

h2 {
    font-size: 2rem;
    color: var(--Dark-Blue);
    margin-bottom: .5em;
}

.main-container {
    margin-top: 2em;
    text-align: center;
}

.item {
    background-color: pink;
    margin-top: 1em;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}



.item2 > p {
    padding: 0 2em;
}

button {
    border: none;
    background-color: var(--Bright-Red);
    color: var(--Vary-Light-Gray);
    width: 150px;
    height: 60px;
    border-radius: 5rem;
    font-size: 1rem;
    transition: .3s ease-in-out;
    font-weight: 400;
    box-shadow: hsl(12, 88%, 59%) 0px 8px 24px;
}

button:hover {
    opacity: .7;
    transform: scale(1.1);
}


.item3 {
    padding: 3em;
}